# links
https://jakevdp.github.io/blog/2017/03/03/reproducible-data-analysis-in-jupyter/

In [1]:
import matplotlib.pyplot as plt 
plt.style.use("seaborn")

In [2]:
from jupyterworkflow.data import get_fremont_data

In [3]:
data = get_fremont_data()
data.head()

                     West  East  Total
Date
2019-11-01 00:00:00   7.0   5.0   12.0
2019-11-01 01:00:00   0.0   7.0    7.0
2019-11-01 02:00:00   0.0   1.0    1.0
2019-11-01 03:00:00   6.0   0.0    6.0
2019-11-01 04:00:00   5.0   1.0    6.0

In [5]:
%%bash
head -3 "Fremont.csv"

Date,Fremont Bridge Total,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
11/01/2019 12:00:00 AM,12,7,5
11/01/2019 01:00:00 AM,7,0,7

In [ ]:
data.resample("W").sum().plot();

In [ ]:
ax = data.resample("D").sum().rolling(365).sum().plot();
ax.set_ylim(0,None)

In [ ]:
data.groupby(data.index.time).mean().plot();

In [ ]:
pivoted = data.pivot_table("Total", index = data.index.time, columns=data.index.date)

In [ ]:
pivoted.iloc[:5,:5]

In [ ]:
pivoted.plot(legend=False,alpha=0.01)